In [1]:
from QueryWriter import *

# Global reading

In [2]:
dimensions = ["day", "hour"]
nb_days = -1 
table_name = "clicks"
compute_query(dimensions,nb_days, table_name, with_label_number=True)

hive -e "select day,hour, sum(A.total) as total, label_nbclicks
 from (select day,hour,1 as total, label_nbclicks
 from cbsdata.bid_request_imp_clicks
 where day < current_date  ) as A
 group by label_nbclicks, day,hour;">labelnbclicks_day_hour_alldays.txt

In [3]:
filtered_days=[]#'2018-06-07', '2018-06-06']
aggregator =""

filename = get_file_path(dimensions, nb_days, table_name, with_label_number = True)
df_clicks = read_and_clean(filename,dimensions, ["Count"], ascending = False)
df_grouped= group_by_label_sum(df_clicks, ["Output"])
print(df_grouped)

    Output   hour       Count
0        0  17381  7670862136
1        1  17381    11098991
2        2  17381      319848
3        3  17381       34890
4        4  17281       10206
5        5  15566        3600
6        6  12862        2063
7        7   8875         963
8        8   6669         654
9        9   4492         447
10      10   3552         331
11      11   1674         145
12      12   1255         107
13      13    796          59
14      14    813          62
15      15    457          38
16      16    380          30
17      17    226          18
18      18    188          23
19      19     95           9
20      20    100           9
21      21     16           1
22      23     19           1
23      24      9           1
24      25     32           2
25      26     17           1
26      27     17           1
27      28      7           1
28      81     18           1
29      83     15           1
30     145      9           1
31     840     13           1

## Analysis of the outliers

In [4]:
threshold = 20
day = '2018-06-01'
df_clicks_filtered = df_clicks[df_clicks["day"]>day]
df_clicks_filtered[df_clicks_filtered["Output"]>threshold].sort_values(by="Output", ascending=True)

              day  hour  Count  Output
11754  2018-07-09    19      1      23
7857   2018-06-08    13      1      25
5653   2018-06-03    19      1      25
6023   2018-06-07    17      1      27
11083  2018-06-08    18      1      81
8819   2018-06-03    13      1     840

# With the retailer id

In [5]:
dimensions = ["day", "hour", "cbs_media_source_id"]
nb_days = -1 
table_name = "clicks"
compute_query(dimensions,nb_days, table_name, with_label_number=True)

hive -e "select day,hour,cbs_media_source_id, sum(A.total) as total, label_nbclicks
 from (select day,hour,cbs_media_source_id,1 as total, label_nbclicks
 from cbsdata.bid_request_imp_clicks
 where day < current_date  ) as A
 group by label_nbclicks, day,hour,cbs_media_source_id;">labelnbclicks_day_hour_cbs_media_source_id_alldays.txt

In [6]:
filtered_days=[]#'2018-06-07', '2018-06-06']
aggregator =""

filename = get_file_path(dimensions, nb_days, table_name, with_label_number = True)
df_clicks = read_and_clean(filename,dimensions, ["Count"], ascending = False)
df_grouped= group_by_label_sum(df_clicks, ["Output"])
print(df_grouped)

    Output     hour  cbs_media_source_id       Count
0        0  2695615             85422953  7670862136
1        1  1407511             38807503    11098991
2        2   552827             12720044      319848
3        3   219720              4166364       34890
4        4    95741              1876592       10206
5        5    40614               712319        3600
6        6    23537               446787        2063
7        7    11954               208367         963
8        8     8188               143454         654
9        9     5170                86849         447
10      10     4115                60285         331
11      11     1824                28142         145
12      12     1324                21055         107
13      13      809                11373          59
14      14      828                11805          62
15      15      457                 7236          38
16      16      380                 5850          30
17      17      226                 3544          18
18      18      188                 2526          23
19      19       95                 1634           9
20      20      100                 1295           9
21      21       16                  100           1
22      23       19                  256           1
23      24        9                  165           1
24      25       32                  339           2
25      26       17                  100           1
26      27       17                  269           1
27      28        7                   92           1
28      81       18                  100           1
29      83       15                  172           1
30     145        9                  256           1
31     840       13                  256           1

In [7]:
threshold = 20
day = '2018-06-01'
df_clicks_filtered = df_clicks[df_clicks["day"]>day]
df_clicks_filtered[df_clicks_filtered["Output"]>threshold].sort_values(by="Output", ascending=True)

               day  hour  cbs_media_source_id  Count  Output
399107  2018-07-09    19                  256      1      23
177607  2018-06-03    19                  175      1      25
414399  2018-06-08    13                  164      1      25
132403  2018-06-07    17                  269      1      27
207371  2018-06-08    18                  100      1      81
174724  2018-06-03    13                  256      1     840