In [1]:
from QueryWriter import *

# Global reading

In [2]:
dimensions = ["day", "hour"]
nb_days = -1 
table_name = "clicks"
compute_query(dimensions,nb_days, table_name, with_label_number=True)

hive -e "select day,hour, sum(A.total) as total, label_nbclicks
 from (select day,hour,1 as total, label_nbclicks
 from cbsdata.bid_request_imp_clicks
 where day < current_date  ) as A
 group by label_nbclicks, day,hour;">labelnbclicks_day_hour_alldays.txt

In [39]:
filtered_days=[]#'2018-06-07', '2018-06-06']
aggregator =""
label_table = "nb_sales"

filename = get_filename(label_table, aggregator)
df_clicks = read_and_clean(filename, label_table,aggregator, filtered_days, False)
df_grouped= group_by_label_sum(df_clicks, [label_table])
print(df_grouped)

    nb_sales   Hour    Count
0          0  10157  6387476
1          1  10157   462181
2          2  10157   109248
3          3  10157    77157
4          4  10150    17467
5          5  10149    20074
6          6  10120    11882
7          7   9954     7317
8          8   9048     2071
9          9   9647     4508
10        10   9330     2981
11        11   8035     1582
12        12   7906     1419
13        13   4299      475
14        14   6394      873
15        15   7526     1249
16        16   3466      310
17        17   2760      245
18        18   4490      466
19        19   2071      180
20        20   3203      307
21        21   3349      307
22        22   1940      160
23        23   1859      146
24        24   1437      115
25        25   1489      116
26        26    957       76
27        27   1408      111
28        28   1328      106
29        29    714       63
..       ...    ...      ...
55        55     60        5
56        56     49        6
57        57     18        2
58        58     34        3
59        59     64        4
60        60     60        6
61        61     13        1
62        62     64        4
63        63     47        5
64        64     39        2
65        65     58        5
66        66     16        1
67        67     39        3
68        68     17        1
69        70     31        2
70        81     27        2
71        82     31        2
72        84     14        1
73        85     17        2
74        94     17        1
75        95     20        1
76        97     36        2
77        98      4        1
78       100      7        1
79       104      5        1
80       106     12        1
81       111     14        1
82       114     17        1
83       117      5        1
84       119     17        1

[85 rows x 3 columns]

## Analysis of the outliers

In [40]:
threshold = 20
day = '2018-06-01'
df_clicks_filtered = df_clicks[df_clicks["Day"]>day]
df_clicks_filtered[df_clicks_filtered[label_table]>threshold].sort_values(by=label_table, ascending=True)

              Day  Hour  Count  nb_sales
6794   2018-06-02     0      1        21
3654   2018-06-05    13      1        21
9402   2018-06-15    15      1        21
3110   2018-06-05    12      1        21
2063   2018-06-05    10      1        21
7329   2018-06-13    17      1        21
13567  2018-06-05     4      1        21
13041  2018-06-05     3      1        21
10453  2018-06-15    17      1        21
12521  2018-06-08    21      1        21
11476  2018-06-05     0      1        21
3111   2018-06-09     0      1        21
4693   2018-06-09     3      1        21
5219   2018-06-13    13      2        21
3109   2018-06-04    15      1        21
9932   2018-06-06    22      3        21
4694   2018-06-13    12      1        21
8370   2018-06-09    10      1        21
2062   2018-06-04    13      2        21
1015   2018-06-04    11      1        21
8892   2018-06-09    11      1        21
2065   2018-06-13     7      1        21
9399   2018-06-09    12      1        21
10947  2018-06-09    15      1        21
10946  2018-06-04     2      1        21
13568  2018-06-15    23      1        21
3112   2018-06-16     0      2        21
11477  2018-06-09    16      1        21
4691   2018-06-03    21      1        21
3653   2018-06-03    19      1        21
...           ...   ...    ...       ...
12562  2018-06-09    11      1        56
6844   2018-06-16     0      1        56
6843   2018-06-08     3      1        56
8938   2018-06-03     4      1        58
543    2018-06-14    23      1        59
5777   2018-06-05    11      1        59
12563  2018-06-08    15      1        59
2113   2018-06-06    20      1        60
6301   2018-06-08    13      1        61
9452   2018-06-05    19      1        62
4745   2018-06-10    16      1        62
13094  2018-06-08     8      1        63
7880   2018-06-13     4      1        63
1589   2018-06-15    14      1        63
13095  2018-06-02    17      1        64
13615  2018-06-09    16      1        65
7364   2018-06-07    10      1        65
1060   2018-06-15     5      1        67
12036  2018-06-16    23      1        67
14668  2018-06-11    20      1        82
11526  2018-06-04    15      1        85
12564  2018-06-09     2      1        85
8941   2018-06-08    20      1        95
10499  2018-06-12    14      1        97
6302   2018-06-16    22      1        97
11527  2018-06-06     4      1        98
6303   2018-06-03     5      1       104
6304   2018-06-11    12      1       106
14669  2018-06-03    14      1       111
9981   2018-06-10    17      1       119

[637 rows x 4 columns]