In [1]:
from QueryWriter import *

# Global reading

In [2]:
dimensions = ["day", "hour"]
nb_days = -1 
table_name = "clicks"
compute_query(dimensions,nb_days, table_name, with_label_number=True)

hive -e "select day,hour, sum(A.total) as total, label_nbclicks
 from (select day,hour,1 as total, label_nbclicks
 from cbsdata.bid_request_imp_clicks
 where day < current_date  ) as A
 group by label_nbclicks, day,hour;">labelnbclicks_day_hour_alldays.txt

In [7]:
filtered_days=[]#'2018-06-07', '2018-06-06']
aggregator =""

filename = get_file_path(dimensions, nb_days, table_name, with_label_number = True)
df_clicks = read_and_clean(filename,dimensions, ["Count"], ascending = False)
df_grouped= group_by_label_sum(df_clicks, ["Output"])
print(df_grouped)

    Output   hour       Count
0        0  14465  6417350967
1        1  14465     9363257
2        2  14465      276990
3        3  14465       29644
4        4  14385        8653
5        5  13064        3058
6        6  10799        1749
7        7   7293         794
8        8   5489         546
9        9   3981         391
10      10   3146         290
11      11   1456         131
12      12   1139          97
13      13    714          50
14      14    738          57
15      15    382          30
16      16    364          29
17      17    190          16
18      18    155          12
19      19     95           9
20      20    100           9
21      21     16           1
22      24      9           1
23      25     32           2
24      26     17           1
25      27     17           1
26      28      7           1
27      81     18           1
28      83     15           1
29     145      9           1
30     840     13           1

## Analysis of the outliers

In [10]:
threshold = 20
day = '2018-06-01'
df_clicks_filtered = df_clicks[df_clicks["day"]>day]
df_clicks_filtered[df_clicks_filtered["Output"]>threshold].sort_values(by="Output", ascending=True)

             day  hour  Count  Output
5513  2018-06-03    19      1      25
7471  2018-06-08    13      1      25
5856  2018-06-07    17      1      27
9409  2018-06-08    18      1      81
8200  2018-06-03    13      1     840